/* Ajoutez ces styles à votre fichier CSS */

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rebeccapurple;
    z-index: 1000;
  }
  
  /* Ajustez la marge supérieure pour compenser la hauteur de l'en-tête */
  ion-router-outlet {
    margin-top: 50px; /* Ajustez en fonction de la hauteur de votre en-tête */
  }
  
  ion-tab-bar {
    --background: #ffff;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    height: 50px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    margin: 0 auto !important;
    border-top: none;
  }
  
  ion-tab-button {
    border-radius: 16px !important;
  }
  
  .custom-background {
    background-color: #ffffff;
  }
  
  .tab-button.tab-selected {
    color: #a45dff;
  }
  