.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

.profileActions ion-button {

    height: 2.3rem;
    --border-radius: 5px;
    font-weight: 600;
}

.custom-background {
    background-color: #ffffff;
    /* Remplacez #ccc par la couleur souhaitée */
}